.catalog {
  background-color: $color-lightest-grey;
  padding-top: 50px;
  padding-bottom: 36px;
}

.catalog__new {
  margin-bottom: 4px;
}

.catalog__title {
  margin-bottom: 20px;
}

.catalog__filter {
  margin-bottom: 36px;
}

.catalog__select-label {
  display: block;
  margin: 0 auto 20px;
}

.catalog__content {
  margin-bottom: 40px;
}

.catalog__list-wrapper {
  display: grid;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px 20px;
  background-color: $color-base-white;
  border-radius: 4px;
}

.catalog__link-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.catalog__image {
  margin-bottom: 24px;
}

.catalog__item-title {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  width: 100%;

  @include fontMontserrat(700, 18px, 32px, $color-base-black);
}

.catalog__item-text {
  margin: 0;
  margin-bottom: 16px;

  @include fontMontserrat(400, 14px, 20px, $color-base-black);
}

.catalog__item-order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__item-price {
  @include fontMontserrat(600, 20px, 32px, $color-base-black);
}

.catalog__item-button {
  position: relative;
  padding: 8px 20px 8px 46px;

  @include fontMontserrat(400, 14px, 20px, $color-base-white);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 16px;
    background-image: url("../img/icon/catalog-basket.svg");
  }
}

@media (min-width: $tablet) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 44px;
  }

  .catalog__filter {
    margin-bottom: 40px;
  }

  .catalog__content {
    margin-bottom: 70px;
  }

  .catalog__select-label {
    margin: 0 0 30px auto;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .catalog__item {
    padding: 50px 30px 30px 30px;
  }

  .catalog__image {
    margin-bottom: 30px;
  }

  .catalog__item-title {
    margin-bottom: 10px;

    @include fontMontserrat(700, 24px, 36px, $color-base-black);
  }

  .catalog__item-text {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop) {
  .catalog {
    background-color: $color-lightest-grey;
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .catalog__title {
    margin-bottom: 40px;
  }

  .catalog__content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    margin-bottom: 60px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
