.footer {
  padding: 0 0 10px;
}

.footer__wrapper {
  border-bottom: 1px solid $color-base-secondary;
  margin: 20px 0;

  &--social {
    margin: 22px 0;
  }

  &--academy {
    border-bottom: none;
  }
}

.footer__container {
  width: 87.5%;
  margin: 0 auto;
  padding-bottom: 17px;

  &--social {
    display: flex;
    align-items: center;
  }

  &--academy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
}

.footer__list {
  &--social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 160px;
    margin-left: auto;
  }
}

.footer__logo {
  margin: 0;
  margin-right: 38px;
}

.footer__title {
  margin: 0;
  margin-bottom: 12px;

  @include fontMontserrat(700, 14px, 20px, $color-base-primary);

  &--contacts {
    margin-bottom: 20px;
  }
}

.footer__link {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;

  @include fontMontserrat(500, 12px, 16px, $color-base-black);

  &:focus-visible {
    outline: 1px solid $color-base-primary;
    outline-offset: 2px;
  }

  &:hover {
    color: $color-base-primary;
  }

  &:active {
    color: $color-primary-lighter;
  }

  &--social {
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &:focus-visible {
      outline: 1px solid $color-base-primary;
      outline-offset: 2px;
    }

    &:hover {
      background-color: $color-base-secondary;
    }

    &:hover > .footer__icon {
      fill: $color-base-primary;
    }

    &:active {
      background-color: rgba(120, 89, 207, 0.25);
    }
  }

  &--academy {
    text-transform: none;
    padding: 0;

    @include fontMontserrat(400, 12px, 16px, $color-base-grey);

    & > .footer__icon {
      flex-shrink: 0;
    }

    &:focus-visible {
      outline: 1px solid $color-base-primary;
      outline-offset: 2px;
    }

    &:hover {
      color: $color-base-primary;
    }

    &:hover > .footer__icon {
      fill: $color-base-primary;
    }

    &:active {
      color: $color-primary-lighter;
    }

    &:active > .footer__icon {
      fill: $color-primary-lighter;
    }
  }
}

.footer__address {
  position: relative;
  margin-bottom: 16px;
  padding-left: 19px;

  @include fontMontserrat(400, 14px, 20px, $color-base-black);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 16px;
    background-image: url("../img/icon/address.svg");
  }
}

.footer__tel {
  position: relative;
  padding-left: 19px;
  text-decoration: none;

  @include fontMontserrat(400, 14px, 20px, $color-base-black);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 16px;
    background-image: url("../img/icon/phone.svg");
  }

  &:focus-visible {
    outline: 1px solid $color-base-primary;
    outline-offset: 2px;
  }

  &:hover {
    color: $color-base-primary;
  }

  &:active {
    color: $color-primary-lighter;
  }
}

.footer__text-academy {
  margin-right: 4px;
}

@media (min-width: $tablet) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 40px;
  }

  .footer__wrapper {
    border-bottom: none;
    margin: 0;
    width: 223px;

    &:first-child {
      width: 100%;
      margin-bottom: 28px;
    }

    &:last-child {
      width: 100%;
      margin-top: 28px;
    }
  }

  .footer__container {
    width: 100%;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop) {
  .footer__wrapper {
    margin: 0;
    margin-top: 10px;
    width: 318px;

    &:first-child {
      display: flex;
      flex-direction: column;
      width: 318px;
      margin: 0;
    }

    &:last-child {
      margin-top: 18px;
    }
  }

  .footer__container {
    &--social {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
  }

  .footer__logo {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0;
    margin-bottom: 48px;
  }

  .footer__list {
    &--social {
      margin: 0;
    }
  }
}
