.main {
  flex-grow: 1;
}


@media (min-width: $tablet) {
  .page__header {
    width: 94.79%;
    margin: 0 auto;
  }

  .page__footer {
    width: 94.79%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .page__header {
    width: 94.44%;
    max-width: 1440px;
  }

  .page__footer {
    width: 94.44%;
    max-width: 1440px;
  }
}
