.user-menu {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: auto;
}

.user-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  text-decoration: none;

  &:active {
    background-color: $color-base-secondary;
  }
}

.user-menu__link-text {
  display: none;
}

.user-menu__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;

  & > .user-menu__burger-line,
  & > .user-menu__burger-line::before,
  & > .user-menu__burger-line::after {
    display: block;
    position: absolute;
    width: 16px;
    height: 1.5px;
    background-color: $color-base-black;
  }

  & > .user-menu__burger-line::before {
    content: "";
    top: -5px;
  }

  & > .user-menu__burger-line::after {
    content: "";
    top: 5px;
  }

  &--close > .user-menu__burger-line {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  &--nojs {
    display: none;
  }

  &:active {
    background-color: $color-base-secondary;
  }
}

@media (min-width: $tablet) {
  .user-menu {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .user-menu__link {
    height: 80px;
  }
}

@media (min-width: $desktop) {
  .user-menu__item {
    &:first-child {
      margin-right: 20px;
      width: 112px;
    }
  }

  .user-menu__link {
    width: 112px;

    &--basket {
      width: 129px;
    }

    &:focus-visible {
      outline: 1px solid $color-base-primary;
      outline-offset: 2px;
    }

    &:hover {
      & svg {
        fill: $color-base-primary;
      }

      & > .user-menu__link-text {
        color: $color-base-primary;
      }
    }

    &:active {
      background-color: $color-base-secondary;

      & > .user-menu__link-text {
        color: $color-base-primary;
      }
    }
  }


  .user-menu__link-text {
    display: block;
    margin-left: 8px;
    text-transform: uppercase;

    @include fontMontserrat(400, 12px, 16px, #333333);
  }
}
